# Credit Risk Prediction
## Vince Alihan

### Objective:

The goal of this project is to develop a model that predicts the likelihood of loan default. 
We will begin by implementing traditional methods such as logistic regression, 
and then explore more advanced techniques including XGBoost and neural networks.

### Key Learning Goals:

- Feature engineering and selection from financial data.
- Handling imbalanced datasets (since defaults are often rare).
- Experimenting with different evaluation metrics (e.g., ROC-AUC, precision-recall).

In [25]:
import numpy as np
import pandas as pd

In [26]:
# Path to our dataset
dataset = "C:\\Users\\vince\\OneDrive\\Documents\\Projects\\Credit Risk Prediction\\default of credit card clients.xls"

# Importing our Excel Dataset
df = pd.read_excel(dataset)

# Print out the first few rows of our dataset
print(df.head())

# Check for any missing values
missing_values = df.isnull().sum()
if missing_values.sum() == 0:
    print("No missing values found.")
else: 
    print(missing_values)

# Print out all the datatypes of each column
print(df.info())

  Unnamed: 0         X1   X2         X3        X4   X5     X6     X7     X8  \
0         ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3
1          1      20000    2          2         1   24      2      2     -1
2          2     120000    2          2         2   26     -1      2      0
3          3      90000    2          2         2   34      0      0      0
4          4      50000    2          2         1   37      0      0      0

      X9  ...        X15        X16        X17       X18       X19       X20  \
0  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3
1     -1  ...          0          0          0         0       689         0
2      0  ...       3272       3455       3261         0      1000      1000
3      0  ...      14331      14948      15549      1518      1500      1000
4      0  ...      28314      28959      29547      2000      2019      1200

        X21       X22       X23                           Y
0  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1         0         0         0                           1
2      1000         0      2000                           1
3      1000      1000      5000                           0
4      1100      1069      1000                           0

[5 rows x 25 columns]
No missing values found.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30001 entries, 0 to 30000
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30001 non-null  object
 1   X1          30001 non-null  object
 2   X2          30001 non-null  object
 3   X3          30001 non-null  object
 4   X4          30001 non-null  object
 5   X5          30001 non-null  object
 6   X6          30001 non-null  object
 7   X7          30001 non-null  object
 8   X8          30001 non-null  object
 9   X9          30001 non-null  object
 10  X10         30001 non-null  object
 11  X11         30001 non-null  object
 12  X12         30001 non-null  object
 13  X13         30001 non-null  object
 14  X14         30001 non-null  object
 15  X15         30001 non-null  object
 16  X16         30001 non-null  object
 17  X17         30001 non-null  object
 18  X18         30001 non-null  object
 19  X19         30001 non-null  object
 20  X20         30001 non-null  object
 21  X21         30001 non-null  object
 22  X22         30001 non-null  object
 23  X23         30001 non-null  object
 24  Y           30001 non-null  object
dtypes: object(25)
memory usage: 5.7+ MB
None

From the original Excel spreadsheet, it appears that all of the values within the rows and columns are marked as 'object' datatypes, we must convert them into 'integer' datatypes in order to utilize machine learning algorithms later on.

In [32]:
# Store the column headers
headers = df.iloc[0]

# Create new dataframe starting from row 1 (skipping headers)
dfcopy = df.iloc[1:].copy()

# Convert all values to integers
dfcopy = dfcopy.apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)

# Restore the column headers
dfcopy.columns = headers
df = dfcopy

# Verify the conversion
print("Data Types after conversion:")
print(df.dtypes)
print("\nFirst few rows of converted data:")
print(df.head())

Data Types after conversion:
0
ID                            int32
LIMIT_BAL                     int32
SEX                           int32
EDUCATION                     int32
MARRIAGE                      int32
AGE                           int32
PAY_0                         int32
PAY_2                         int32
PAY_3                         int32
PAY_4                         int32
PAY_5                         int32
PAY_6                         int32
BILL_AMT1                     int32
BILL_AMT2                     int32
BILL_AMT3                     int32
BILL_AMT4                     int32
BILL_AMT5                     int32
BILL_AMT6                     int32
PAY_AMT1                      int32
PAY_AMT2                      int32
PAY_AMT3                      int32
PAY_AMT4                      int32
PAY_AMT5                      int32
PAY_AMT6                      int32
default payment next month    int32
dtype: object

First few rows of converted data:
0  ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
1   1      20000    2          2         1   24      2      2     -1     -1
2   2     120000    2          2         2   26     -1      2      0      0
3   3      90000    2          2         2   34      0      0      0      0
4   4      50000    2          2         1   37      0      0      0      0
5   5      50000    1          2         1   57     -1      0     -1      0

0  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
1  ...          0          0          0         0       689         0
2  ...       3272       3455       3261         0      1000      1000
3  ...      14331      14948      15549      1518      1500      1000
4  ...      28314      28959      29547      2000      2019      1200
5  ...      20940      19146      19131      2000     36681     10000

0  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1         0         0         0                           1
2      1000         0      2000                           1
3      1000      1000      5000                           0
4      1100      1069      1000                           0
5      9000       689       679                           0

[5 rows x 25 columns]

C:\Users\vince\OneDrive\Documents\Projects\Credit Risk Prediction

c:\Python312\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]